
img{
    height: 40px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    align-items: center;
    
  }
  
  .text {
    width: 100%;
    text-align: center;
   
  }
  
  .table {
  
    width: 80%;
    margin: auto;
  }